{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Student Registration{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static "base/css/forms.css" %}" />
{% endblock %}

{% block body %}
<div class="white-section">
    <div class="row">
        <div class="large-5 columns">
            <h1>Hello there!</h1>
            <p class="larger">Interested in taking classes? Excellent!</p>
            <p class="larger">We'll just need a few details about yourself so we can create a new account for you.</p>
        </div>
        <div class="large-5 offset-2 columns">
            <form action="{% url "students:register" %}" method="POST">
              {% csrf_token %}

              {% for error in form.non_field_errors %}
                  <div data-alert class="alert-box alert">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                  </div>
              {% endfor %}

              {% include "base/partials/formfield.html" with field=form.email %}
              {% include "base/partials/formfield.html" with field=form.first_name %}
              {% include "base/partials/formfield.html" with field=form.last_name %}
              {% include "base/partials/formfield.html" with field=form.password1 %}
              {% include "base/partials/formfield.html" with field=form.password2 %}

              <input class="button success right" type="submit" value="Register" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
