{% extends "base/base.html" %}
{% block body %}

<div class="row"><div class="large-12 columns">

<h1>My Dashboard</h1>
    <p><b>Name:</b> {{ user.first_name }} {{ user.last_name }} </p>
    <p><b>E-mail:</b> {{ user.email }} </p>

<h2>Courses Taken</h2>
    <table>
        <tr> 
            <th> Course </th>
            <th> Teacher </th>
            <th> Date </th>
            <th> Skill Level </th>
        </tr>
    {% for course in courses_taken %}
        <tr>
            <td> <a href="{% url "courses:detail" course.pk %}"> {{ course.title }}</a> </td>
            <td> {{ course.teacher.first_name }} {{ course.teacher.last_name }} </td>
            <td> {{ course.start_datetime|date:'D, N d Y' }} </td>
            <td> {{ course.skill_level }} </td>
        </tr>
    {% empty %}
        <li> No courses taken yet! </li>
    {% endfor %}
    </table>

</div></div> 

{% endblock %}