{% extends "base/base.html" %}

{% block is_student_dash %}active{% endblock %}

{% block body %}

<div class="blue-header">
    <div class="row">
        <div class="large-6 columns">
            <h1>Student Dashboard</h1>
            <p>{{ user.first_name }} {{ user.last_name }} | {{ user.email }}</p>
        </div>
        <div class="large-5 offset-1 columns">
            <ul class="inline-list right" style="margin-top:15px;">
                <li><a href="{% url "students:edit" %}">Edit profile information &raquo;</a></li>
                <li><a href="{% url "students:password_change" %}">Change password &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="white-section">
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <h2>Upcoming Courses</h2>
                {% if courses_upcoming %}
                    <table width='100%'>
                        <tr>
                            <th>Course</th>
                            <th>Teacher</th>
                            <th>Date</th>
                        </tr>
                    {% for course in courses_upcoming %}
                        <tr>
                            <td><a href="{% url "courses:detail" course.pk %}"> {{ course.title }}</a></td>
                            <td>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</td>
                            <td class="right">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h5> You aren't registered for any upcoming courses yet! </h5>
                {% endif %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <h2>Completed Courses</h2>
                {% if courses_taken %}
                    <table width='100%'>
                        <tr>
                            <th>Course</th>
                            <th>Teacher</th>
                            <th>Date</th>
                        </tr>
                    {% for course in courses_taken %}
                        <tr>
                            <td> <a href="{% url "courses:detail" course.pk %}"> {{ course.title }}</a> </td>
                            <td> {{ course.teacher.first_name }} {{ course.teacher.last_name }} </td>
                            <td class="right">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h5> You haven't taken any courses yet! </h5>
                {% endif %}
                </table>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}
