{% extends "base/base.html" %}

{% load staticfiles %}

{% block nav %}
    {% include "base/partials/nav/nav_student.html" %}
{% endblock %}

{% block body %}
<div class="blue-header">
    <div class="row">
        <div class="large-7 columns">
            <h1>Edit profile information</h1>
        </div>
        <div class="large-5 columns">
            {% include "base/partials/return_to_dashboard.html" %}
        </div>
    </div>
</div>

<div class="row white-section">
    <div class="large-7 small-centered columns">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

          {% include "base/partials/formfield.html" with field=form.email %}
          {% include "base/partials/formfield.html" with field=form.first_name %}
          {% include "base/partials/formfield.html" with field=form.last_name %}

          <input class="button success right" type="submit" value="Save" />
        </form>
    </div>
</div>

{% endblock %}
