{% extends "base/base.html" %}

{% load staticfiles %}

{% block body %}
<div class="white-section">
    <div class="row">
        <div class="large-7 columns">
            <h2>Editing Your Profile Information</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                <div data-alert class="alert-box alert">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                </div>
                {% endfor %}

                {% include "base/partials/formfield.html" with field=form.email %}
                {% include "base/partials/formfield.html" with field=form.first_name %}
                {% include "base/partials/formfield.html" with field=form.last_name %}
                <input class="button success left" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
