{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Admin Dashboard{% endblock %}

{% block is_admin_dash %}active{% endblock %}

{% block body %}
<div class="blue-header">
    <div class="row">
        <div class="large-4 columns">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="large-8 columns">
            <ul class="inline-list right" style="margin-top:15px;">
                <li><a href="{% url "admins:edit" %}">Edit profile information &raquo;</a></li>
                <li><a href="{% url "admins:password_change" %}">Change password &raquo;</a></li>
                <li><a href="{% url "admins:register" %}">Register new admin &raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row white-section">
    <div class="large-12 columns">
        <dl class="sub-nav" data-tab>
            <dt>Filter:</dt>
            <dd class="active" id="tab-courses-pending"><a href="#panel-courses-pending">Courses Pending Review</a></dd>
            <dd id="tab-courses-active"><a href="#panel-courses-active">Active Courses</a></dd>
            <dd id="tab-courses-finished"><a href="#panel-courses-finished">Finished Courses</a></dd>
            <dd id="tab-courses-denied"><a href="#panel-courses-denied">Denied Courses</a></dd>
        </dl>
        <div class="tabs-content">
            <div class="content active" id="panel-courses-pending">
                {% for course in pending_courses %}
                <div class="row">
                    <div class="small-9 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h4>{{ course.title }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <p>{{ course.short_description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns"><strong>Teacher:</strong> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</div>
                            <div class="small-6 columns">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</div>
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <img src="{% thumbnail course.image 'thumb' %}"></img>
                        <h5 class="right"><a href="{% url "admins:course_review" course.pk %}">Review course &raquo;</a></h5>
                        <h5 class="right"><a href="{% url "courses:detail" course.pk %}">View course page &raquo;</a></h5>
                    </div>
                </div>
                <hr/>
                <br/>
                {% empty %}
                <p>There are currently no courses pending review.</p>
                {% endfor %}
            </div>

            <div class="content" id="panel-courses-active">
                <h3>Featured Courses</h3>
                <div id="featured-section">
                    {% for course in featured_courses %}
                    <div id="{{ course.id }}" class="row course-row">
                        <hr/>
                        <div class="small-9 columns">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h4 class="left">{{ course.title }}</h4>
                                    <a class="button tiny right unfeature-course-button">Remove from featured</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <p>{{ course.short_description }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 columns"><strong>Teacher:</strong> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</div>
                                <div class="small-6 columns">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</div>
                            </div>
                        </div>
                        <div class="small-3 columns">
                            <img src="{% thumbnail course.image 'thumb' %}"></img>
                            <h5 class="right"><a href="{% url "courses:edit" course.pk %}">Edit course information &raquo;</a></h5>
                            <h5 class="right"><a href="{% url "courses:detail" course.pk %}">View course page &raquo;</a></h5>
                        </div>
                    <br/>
                    </div>
                    {% empty %}
                    <hr/>
                    {% endfor %}
                </div>

                <h3>Active Courses</h3>
                <div id="active-section">
                    {% for course in active_courses %}
                    <div id="{{ course.id }}" class="row course-row">
                        <hr/>
                        <div class="small-9 columns">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h4 class="left">{{ course.title }}</h4>
                                    <a class="button tiny right feature-course-button">Add to featured</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <p>{{ course.short_description }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-6 columns"><strong>Teacher:</strong> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</div>
                                <div class="small-6 columns">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</div>
                            </div>
                        </div>
                        <div class="small-3 columns">
                            <img src="{% thumbnail course.image 'thumb' %}"></img>
                            <h5 class="right"><a href="{% url "courses:edit" course.pk %}">Edit course information &raquo;</a></h5>
                            <h5 class="right"><a href="{% url "courses:detail" course.pk %}">View course page &raquo;</a></h5>
                        </div>
                    <br/>
                    </div>
                    {% empty %}
                    <hr/>
                    {% endfor %}
                </div>
            </div>

            <div class="content" id="panel-courses-finished">
                {% for course in finished_courses %}
                <div class="row">
                    <div class="small-9 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h4>{{ course.title }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <p>{{ course.short_description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns"><strong>Teacher:</strong> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</div>
                            <div class="small-6 columns">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</div>
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <img src="{% thumbnail course.image 'thumb' %}"></img>
                        <h5 class="right"><a href="{% url "courses:edit" course.pk %}">Edit course information &raquo;</a></h5>
                        <h5 class="right"><a href="{% url "courses:detail" course.pk %}">View course page &raquo;</a></h5>
                        <h5 class="right"><a href="{% url "courses:feedback_review" course.pk %}">View course feedback &raquo;</a></h5>
                    </div>
                </div>
                <hr/>
                <br/>
                {% empty %}
                <p>There are currently no active courses.</p>
                {% endfor %}
            </div>

            <div class="content" id="panel-courses-denied">
                {% for course in denied_courses %}
                <div class="row">
                    <div class="small-9 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h4>{{ course.title }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <p>{{ course.short_description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 columns"><strong>Teacher:</strong> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</div>
                            <div class="small-6 columns">{{ course.start_datetime|date:'D, N d Y' }} | {{ course.start_datetime|date:'P'}} - {{ course.end_datetime|date:'P' }}</div>
                        </div>
                    </div>
                    <div class="small-3 columns">
                        <img src="{% thumbnail course.image 'thumb' %}"></img>
                        <h5 class="right"><a href="{% url "courses:edit" course.pk %}">Edit course information &raquo;</a></h5>
                        <h5 class="right"><a href="{% url "courses:detail" course.pk %}">View course page &raquo;</a></h5>
                    </div>
                </div>
                <hr/>
                <br/>
                {% empty %}
                <p>There are currently no denied courses.</p>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{% static "odalc_admin/js/dashboard.js" %}"></script>
{% endblock %}
