{% extends "base/base.html" %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static "base/css/jquery.timepicker.css" %}" />
{% endblock %}

{% block title %}Reviewing {{ course.title }}{% endblock %}

{% block is_admin_dash %}active{% endblock %}

{% block body %}
<form method="POST" id='course_review'>
{% csrf_token %}
<div class="blue-narrow-section">
    <div class="row">
        <div class="large-6 columns">
            <h1>Reviewing: {{ course.title }}</h1>
            <dl class="sub-nav" data-tab>
                <dd class="active"><a href="#panel-course-info">Course Information</a></dd>
                <dd><a href="#panel-instructor-info">Instructor Information</a></dd>
            </dl>
        </div>
        <div class="large-6 columns">
            <ul class="button-group">
                <li><input id="approve_course" class="small button success" name="_approve" type="submit" value="Approve" /></li>
                <li><input id="deny_course" class="small button alert" name="_deny" type="submit" value="Deny" /></li>
                <li><a href="{% url "admins:dashboard" %}"><input type="button" class="small button info" value="Return to Dashboard" /></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row white-section">
    <div class="medium-12 columns">
        <div class="tabs-content">
            <div class="content" id="panel-instructor-info">
                <div class="row">
                    <div class="medium-3 columns">
                        <div class="pic">
                            <img class="th" src="{{ course.teacher.picture }}" />
                        </div>
                        <div class="details">
                            <ul class="vcard">
                                <li class="fn">{{ course.teacher.first_name }} {{ course.teacher.last_name }}</li>
                                <li class="org">{{ course.teacher.organization }}</li>
                                <li class="role"><i>{{ course.teacher.position }}</i></li>
                                <li class="resume"><a href="{{ course.teacher.resume }}">View Resume</a></li>
                                <li class="email"><a href="mailto:{{ course.teacher.email }}">{{ course.teacher.email }}</a></li>
                                <li class="phone">{{ course.teacher.phone }}</li>
                                <li class="street-address">{{ course.teacher.street_address }}</li>
                                <li class="locality">{{ course.teacher.city }}, CA <span class="zip">{{ course.teacher.zipcode }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="medium-9 columns">
                        <div>
                            <h4>About</h4>
                            <p>{{ course.teacher.about }}</p>
                        </div>
                        <div>
                            <h4>Experience</h4>
                            <p>{{ course.teacher.experience }}</p>
                        </div>
                        <div>
                            <h4>Heard About Oakland Digital From:</h4>
                            <p>{{ course.teacher.get_info_source_display }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content active" id="panel-course-info">
                        <div class="row">
                            <div class="medium-12 columns">
                                {% for error in form.non_field_errors %}
                                <div data-alert class="alert-box alert">
                                    {{ error }}
                                    <a href="#" class="close">&times;</a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <fieldset>
                            <legend>Course Content</legend>
                            <div class="row">
                                <div class="medium-12 columns">
                                    {% include "base/partials/formfield.html" with field=form.title %}
                                    {% include "base/partials/tooltip_formfield.html" with field=form.short_description %}
                                    {% include "base/partials/tooltip_formfield.html" with field=form.long_description %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-6 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.prereqs %}
                                </div>
                                <div class="medium-6 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.additional_info %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-12 columns">
                                    <strong class="right"><a href="{{ course.course_material }}">View Course Materials &raquo;</a></strong>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Course Logistics</legend>
                            <div class="row">
                                <div class="medium-3 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.size %}
                                </div>
                                <div class="medium-3 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.skill_level %}
                                </div>
                                <div class="medium-3 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.cost %}
                                </div>
                                <div class="medium-3 columns">
                                    {% include "base/partials/tooltip_formfield.html" with field=form.odalc_cost_split %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-6 columns">
                                    <h5>Teacher's Available Time Slots:</h5>
                                    <strong>Option 1: </strong>
                                    <p>{{ course.courseavailability.start_datetime1|date:'D, N d, Y' }} |
                                    {{ course.courseavailability.start_datetime1|date:'P'}} - {{ course.courseavailability.end_datetime1|date:'P' }}</p>
                                    <strong>Option 2: </strong>
                                    <p>{{ course.courseavailability.start_datetime2|date:'D, N d, Y' }} |
                                    {{ course.courseavailability.start_datetime2|date:'P'}} - {{ course.courseavailability.end_datetime2|date:'P' }}</p>
                                    <strong>Option 3: </strong>
                                    <p>{{ course.courseavailability.start_datetime3|date:'D, N d, Y' }} |
                                    {{ course.courseavailability.start_datetime3|date:'P'}} - {{ course.courseavailability.end_datetime3|date:'P' }}</p>
                                </div>
                                <div class="medium-6 columns">
                                    <label for="{{ form.date.id_for_label }}">
                                    {{ form.date.label }}
                                    {{ form.date }}
                                    </label>
                                    {% for error in form.date.errors %}
                                        <small class="error">{{ error }}</small>
                                    {% endfor %}

                                    <label for="{{ form.start_time.id_for_label }}">
                                    {{ form.start_time.label }}
                                    {{ form.start_time }}
                                    </label>
                                    {% for error in form.start_time.errors %}
                                        <small class="error">{{ error }}</small>
                                    {% endfor %}

                                    <label for="{{ form.end_time.id_for_label }}">
                                    {{ form.end_time.label }}
                                    {{ form.end_time }}
                                    </label>
                                    {% for error in form.end_time.errors %}
                                        <small class="error">{{ error }}</small>
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                        {% include "base/partials/hidden_img_uploadfield.html" with field=form.image %}

                        {# Hidden form inputs so that we can use EditCourseForm in the View #}
                        <input id="{{ form.status.id_for_label }}" type="hidden" name="{{ form.status.html_name }}" value="{{ form.status.value }}"/>
                        <input id="{{ form.course_material.id_for_label }}" type="hidden" name="{{ form.course_material.html_name }}" value="{{ form.course_material.value }}"/>

                        <!--Input Buttons (Approve and Deny)-->
                        </div>
            </div>
        </div>
    </div>
</div>
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
<script src="{% static "base/js/jquery.timepicker.min.js" %}"></script>
{% include "base/partials/img_uploadjs.html" with field=form.image %}
<script>
$().ready(function() {
    $('#file_{{ form.image.id_for_label }}').on("change", s3_upload_{{ form.image.id_for_label }});
});

$(function() {
    var dateOptions = {

    };
    var timeOptions = {
        'minTime': '9:00am',
        'maxTime': '9:00pm',
        'forceRoundTime': true,
    };
    $("#{{ form.date.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time.id_for_label }}").timepicker(timeOptions);
});

$('#approve_course').confirmOn({
        questionText: 'Are you sure you want to approve {{ course.title }}?',
        textYes: 'Yes, I\'m sure',
        textNo: 'No, I\'m not sure'
    },'click', function(e, confirmed) {
        if(confirmed){$('#course_review').append('<input type="hidden" name="_approve" value="Approve" />').submit()}
        else{e.preventDefault; return false}
    });

$('#deny_course').confirmOn({
        questionText: 'Are you sure you want to deny {{ course.title }}?',
        textYes: 'Yes, I\'m sure',
        textNo: 'No, I\'m not sure'
    },'click', function(e, confirmed) {
        if(confirmed){$('#course_review').append('<input type="hidden" name="_deny" value="Deny" />').submit()}
        else{e.preventDefault; return false}
    });

</script>
{% endblock %}
