{% extends "base/base.html" %}

{% load staticfiles %}

{% block css %}
{% endblock %}

{% block title %}Admin Registration{% endblock %}

{% block nav %}
    {% include "base/partials/nav/nav_admin.html" %}
{% endblock %}

{% block body %}
{% include "odalc_admin/subnav/subnav_register.html" %}

<div class="admin-register-block">
    <div class="row">
        <div class="medium-6 columns">
            <p class="larger"> Please provide the following of the new admin user.</p>
        </div>
        <div class="medium-6 columns">
            <form action="{% url "admins:register" %}" method="POST">
              {% csrf_token %}

              {% for error in form.non_field_errors %}
                  <div data-alert class="alert-box alert">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                  </div>
              {% endfor %}

              {% include "base/partials/formfield.html" with field=form.email %}
              {% include "base/partials/formfield.html" with field=form.first_name %}
              {% include "base/partials/formfield.html" with field=form.last_name %}
              {% include "base/partials/formfield.html" with field=form.password1 %}
              {% include "base/partials/formfield.html" with field=form.password2 %}

              <input class="button success right radius" type="submit" value="Create new admin user" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
