{% extends "base/base.html" %}
{% load course_renderer %}

{% block title %}Courses {% endblock %}

{% block nav %}
    {% include "base/partials/nav/nav_courses.html" %}
{% endblock %}

{% block body %}

<div class="course-list-header">
    <div class="course-list-header-img"></div>
    <div class="course-list-header-overlay"></div>
    <div class="course-list-header-content">
        <div class="row">
            <div class="medium-6 columns">
                <h1>Browse All Courses</h1>
            </div>
            <div class="medium-6 columns">
                <dl class="sub-nav" style="margin-top:20px;">
                    <dt>Browse By:</dt>
                    <dd class="{% if is_upcoming %}active{% endif %}">
                        <a href="{% url "courses:listing" %}?type=upcoming">Upcoming</a>
                    </dd>
                    <dd class="{% if is_past %}active{% endif %}">
                        <a href="{% url "courses:listing" %}?type=past">Past</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="listing-content">
    <div class="row">
        <div class="large-12 columns">
            <div class="tabs-content">
                <div class="content active" id="panel2-1">
                    {% for course in courses %}
                        {% include "base/partials/course_tile.html" %}
                    {% empty %}
                        {% if is_upcoming %}
                        <p> There are no upcoming courses right now. Check again later! </p>
                         {% elif is_past %}
                        <p> There are no finished courses right now. Check again later! </p>
                        {% else %}
                        <p> There are no courses right now. Check again later! </p>
                        {% endif %}
                    {% endfor %}
              </div>
            </div>
        </div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="{% paginate_url page_obj.previous_page_number %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="{% paginate_url page_obj.next_page_number %}">Next</a>
        {% endif %}
    </span>
</div>

    </div>
</div>


{% endblock %}
