{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}Edit course{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "css/base/jquery.timepicker.css" %}" />
{% endblock %}

{% block body %}
<div class="sub-header">
    <div class="row">
        <div class="large-7 columns">
            <h1>Editing {{ course.title }}</h1>
        </div>
        <div class="large-5 columns">
            {% include "base/partials/return_to_dashboard.html" %}
        </div>
    </div>
</div>

<div class="white-section">
    <div class="row">
        <div class="large-12 columns">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                <div data-alert class="alert-box alert">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                </div>
                {% endfor %}

                <fieldset>
                    <legend>Course Content</legend>
                    <div class="row">
                        <div class="medium-12 columns">
                            {% include "base/partials/formfield.html" with field=form.title %}
                            {% include "base/partials/tooltip_formfield.html" with field=form.short_description %}
                            {% include "base/partials/tooltip_formfield.html" with field=form.long_description %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-6 columns">
                            {% include "base/partials/tooltip_formfield.html" with field=form.prereqs %}
                        </div>
                        <div class="medium-6 columns">
                            {% include "base/partials/tooltip_formfield.html" with field=form.additional_info %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            {% include "base/partials/formfield.html" with field=form.course_material %}
                        </div>
                    </div>
                </fieldset>
                {% if is_admin_user %}
                <fieldset>
                    <legend>Course date and times</legend>
                    {% include "base/partials/course_datetimefield.html" with date=form.date start_time=form.start_time end_time=form.end_time %}
                </fieldset>
                {% else %}
                {# Hide the date/time fields if the teacher is editing the course #}
                {% include "base/partials/hidden_formfield.html" with field=form.date %}
                {% include "base/partials/hidden_formfield.html" with field=form.start_time %}
                {% include "base/partials/hidden_formfield.html" with field=form.end_time %}
                {% endif %}
                <fieldset>
                    <legend>Course Logistics</legend>
                    <div class="row">
                        <div class="medium-3 columns">
                            <label has-tooltip for="{{ form.size.id_for_label }}">
                                <span data-tooltip class="has-tip tip-top tip-thin" title="{{ form.size.help_text }}">
                                {{ form.size.label }} {% if form.size.field.required %}<small>Required</small>{% endif %}
                                </span>
                                {% if form.size.errors %}
                                <input id="{{ form.size.id_for_label }}" name="{{ form.size.html_name }}" type="number" step="1" min="1" max="20" class="error" value="{{ form.size.value }}">
                                {% else %}
                                <input id="{{ form.size.id_for_label }}" name="{{ form.size.html_name }}" type="number" step="1" min="1" max="20" value="{{ form.size.value }}">
                                {% endif %}
                            </label>
                            {% for error in form.size.errors %}
                            <small class="error">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="medium-3 columns">
                            {% include "base/partials/tooltip_formfield.html" with field=form.skill_level %}
                        </div>
                        <div class="medium-3 columns">
                            <span data-tooltip class="has-tip tip-top tip-thin" title="{{ form.cost.help_text }}">
                                <label for="{{ form.cost.id_for_label }}">Course Fee</label>
                            </span>
                            <p>${{ form.cost.value }}</p>
                            {% include "base/partials/hidden_formfield.html" with field=form.cost %}
                        </div>
                        <div class="medium-3 columns">
                            <span data-tooltip class="has-tip tip-top tip-thin" title="{{ form.odalc_cost_split.help_text }}">
                                <label for="{{ form.odalc_cost_split.id_for_label }}">Donate to ODALC <i class="lighter">(and <span id="your-amt">${{ teacher_split }}</span> to the instructor)</i></label>
                            </span>
                            <p>${{ form.odalc_cost_split.value }}</p>
                            {% include "base/partials/hidden_formfield.html" with field=form.odalc_cost_split %}
                        </div>
                    </div>
                </fieldset>
                {% if is_admin_user %}
                {% include "base/partials/tooltip_formfield.html" with field=form.status %}
                {% else %}
                {# Hide the course status field if the teacher is editing the course #}
                <input id="{{ form.status.id_for_label }}" type="hidden" name="{{ form.status.html_name }}" value="{{ form.status.value }}"/>
                {% endif %}
                <div class="row">
                    <div class="medium-12 columns">
                        {% include "base/partials/formfield.html" with field=form.image %}
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <button class="large right radius" id="save_edit" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "js/base/jquery.timepicker.min.js" %}"></script>
<script>
$(function() {
        var dateOptions = {

        };
        var timeOptions = {
        'minTime': '9:00am',
        'maxTime': '9:00pm',
        'forceRoundTime': true,
        };
        $("#{{ form.date.id_for_label }}").datepicker(dateOptions);
        $("#{{ form.start_time.id_for_label }}").timepicker(timeOptions);
        $("#{{ form.end_time.id_for_label }}").timepicker(timeOptions);
        });
</script>
{% endblock %}
