.course-list-header {
    .course-list-header-img {
        @include splash-image(url('../img/base/colorful_desktop.jpg'));
    }

    .course-list-header-overlay {
        @include splash-image-overlay();
    }

    .course-list-header-content {
        background-color: transparent;
        padding-top: 100px;
        padding-bottom: 100px;
        h1 {
            color: $white;
            font-weight: 700;
        }
        .sub-nav {
            dt {
                color: $white;
            }
            dd a {
                color: $light-grey;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.listing-content {
    @include section-padding();
    @include section-border();
    background-color: $medium-grey;
    min-height: 500px;
}

.course-tile {
    cursor: pointer;
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
    &:hover {
        background-color: $white;
    }
    a {
        color: $charcoal;
        &:hover {
            color: $charcoal;
        }
    }
    h3 {
        color: $dark-blue;
        @media #{$small-only} {
            margin-top: 20px;
        }
    }
    .course-thumbnail {
        border: 1px solid $dark-grey;
    }
    .logistic-row {
        margin-top: 45px;
        @media #{$small-only} {
            margin-top: 20px;
        }
    }
}

.course-tile-action {
    background-color: $light-grey;
    border: 1px solid $dark-grey;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -30px;
    margin-bottom: 30px;
    a.action-button {
        @include button($button-sml);
        @include radius;
        @extend .right;
        margin-bottom: 0px;
        font-size: 0.9em;
        padding-top: 0.6rem;
        padding-bottom: 0.7rem;
    }
}
