.course-background-image{
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
    top: 0;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.course-top-section {
    @include section-padding();
    background-color: rgba(0,0,0,0.2);
    h1, h2 {
        display:inline;
        color: $white;
        padding: 0.05em;
        text-shadow: 0 0 4px $black;
    }
    p {
        display:inline;
        color: $light-grey;
        font-size: 1.3em;
        padding: 0.075em;
        text-shadow: 0 0 4px $black;
    }

    .enroll-btn {
        @include radius;
        margin-top: 3rem;
        background-color: $medium-purple;
        border-color: $medium-purple;
        color: $white;
        &:hover {
            background-color: scale-color($medium-purple, $lightness: 15%);
            border-color: scale-color($medium-purple, $lightness: 15%);
        }
    }
}

.course-logistic-section {
    background-color: $white;
    border-top: 1px solid $dark-grey;
    .course-logistic {
        border: none;
        background: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .item {
            padding-top: 1rem;
            padding-bottom: 1rem;
            .col {
                color: $charcoal;
                &.title {
                    font-size: 1.3em;
                    color: $medium-purple;
                }
            }
        }
    }
}


.author {
    .pic {
        @include grid-column(5);
    }
    .details {
        @include grid-column(7);

        .role {
            color: #888;
        }

        .inst {
            color: #888;
            margin-top: 0.5em;
        }
    }
}

