{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}About Us{% endblock %}

{% block nav %}
    {% include "base/partials/nav/nav_about.html" %}
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535c2fec21d43eea"></script>

<div class="about-header">
    <div class="about-header-img"></div>
    <div class="about-header-overlay"></div>
    <div class="about-header-content">
        <div class="row">
            <div class="medium-8 medium-centered columns text-center">
                <h1>Our Mission</h1>
                <p>
Oakland Digital is partnering with professionals from the tech and design industry to teach practical and emerging technical skills. We believe that the opportunity to learn these skills should be available to anyone and that these skills will educate, inspire and empower under resourced communities through digital literacy.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="about-content">
    <div class="row" data-equalizer>
        <div class="medium-6 columns about-col" data-equalizer-watch>
            <h2>For Students</h2>
            <p>
Use your experience and skills to make an immediate impact. Whether you're a creative director at an ad agency or a software engineer at a tech company, mentor students with direct, hands-on training to help them use technology thoughtfully, responsibly and professionally.
            </p>
            <a href="{% url "students:register" %}">Register to be a student &raquo;</a>
        </div>
        <div class="medium-6 columns about-col" data-equalizer-watch>
            <h2>For Teachers</h2>
            <p>
Oakland Digital is an on a mission to bridge the digital literacy and opportunity gap. We’re a not-for-profit with the goal to build the next pipeline of young creatives of color by providing real-world opportunities to work with under resourced small business’.
            </p>
            <a href="{% url "teachers:register" %}">Apply to be a teacher &raquo;</a>
        </div>
    </div>
</div>

<div id="about-bottom-image">
</div>

<div class="about-bottom-section">
    <div class="row">
        <div class="small-12 medium-9 end columns">
            <h2>About Oakland Digital</h2>
            <p>
Oakland Digital is an on a mission to bridge the digital literacy and opportunity gap. We’re a not-for-profit with the goal to build the next pipeline of young creatives of color by providing real-world opportunities to work with under resourced small business’.
            </p>
        </div>
    </div>
    <div class="row">
        <div class = "medium-7 columns">
            <ul class="inline-list">
                <li>
                    <div>
                    <a href="https://twitter.com/ODALC" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ODALC</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                </li>
                <li>
                    <div class="fb-follow" data-href="https://www.facebook.com/odalc" data-colorscheme="light" data-layout="button_count" data-show-faces="true"></div>
                </li>
                <li>
                    <div>
                        <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/100653295456413757353" data-rel="publisher"></div>
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/platform.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
