{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}About us{% endblock %}

{% block body %}
<div class="mid-dark-section">
    <div class="row">
        <div class="large-7 columns">
            <h1>Our mission</h1>
            <p>This is a generic statement of our fundamental platforms that we believe in. We hope to change the world in beneficial ways that will increase productivity amongst the children of the world and yadi yadi ya.</p>
        </div>
    </div>
</div>
<div class="white-section">
    <div class="row">
        <div class="large-5 columns">
            <h2>For students</h2>
            <p>These are some details about what kind of students are attending these courses. Why are we offering this to students? because because because some reasons here. Yadi yadi ya.</p>

            <p>Describe the expectations of the students here and blah blah blah. With the ultimate goal of shifting lower income children into the technological age.</p>
        </div>
        <div class="large-5 large-offset-2 columns">
            <h2>For teachers</h2>
            <p>Describe the voluntary capacity at which teachers come to volunteer. These are professionals and blah blah blahk</p>

            <p>Also talk about this is another source of small income. Students will pay the teachers and yadi yadi something talking about how good this is.</p>

            <p>Also talk about philanthropy and giving back to the community and how this one way to do it. blahbidty blah blah.</p>
        </div>
    </div>
</div>
{% endblock %}
