{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="mid-dark-section">
    <div class="row">
        <div class="large-7 columns">
            <h1>Our Mission</h1>
            <p>
            Our mission statement here for Oakland Digital Courses
            </p>
        </div>
    </div>
</div>
<div class="white-section">
    <div class="row">
        <div class="large-5 columns">
            <h2>For Students</h2>
            <p>Info about students and stuff
            </p>

        </div>
        <div class="large-5 large-offset-2 columns">
            <h2>For Teachers</h2>
            <p>By teaching courses with Oakland Digital, teachers are helping underserved communities achieve economic success and empowerment through digital literacy. Oakland Digital's small business development initiatives and professional development programs for design students are making a difference, but we need your help to reach even more people in the community. Whether you're a creative director at an ad agency or a software engineer at a tech company, your knowledge will have an immediate impact.
</p>
        </div>
    </div>
    <div class="row">
        <div class="large-10 large-centered columns">
            <h2 class="center">About Oakland Digital</h2>
            <p>Oakland Digital Arts & Literacy Center is a 501(c)(3) community building organization working to bridge the digital literacy and opportunity divide. Since 2009, Oakland Digital has been working to educate, inspire and empower small business owners, local design students, and entrepreneurs.</p>
        </div>
    </div>
</div>
{% endblock %}
