{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | ODALC</title>

    <link rel="stylesheet" href="{% static "base/css/app.css" %}" />
    <link rel="stylesheet" href="{% static "base/css/forms.css" %}" />
    {% block css %}{% endblock %}
    {% block javascript-head %}{% endblock %}
    <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
  </head>
  <body>
    {% include "base/partials/nav.html" %}
    {% block body %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="{% static "bower_components/foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "bower_components/foundation/js/foundation.alerts.js" %}"></script>
    <script src="{% static "base/js/app.js" %}"></script>
    {% block javascripts %}
    {% endblock %}
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
