{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | Oakland Digital Courses</title>

    <link rel="shortcut icon" href="{% static "base/img/odalc_16px.ico" %}" type="image/x-icon"/>
    <link rel="icon" href="{% static "base/img/ODALC-16px.png" %}" type="image/png"/>  
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static "base/img/ODALC-57px.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static "base/img/ODALC-72px.png" %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static "base/img/ODALC-117px.png" %}">



    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "base/css/app.css" %}" />
    <link rel="stylesheet" href="{% static "base/css/forms.css" %}" />
    <link rel="stylesheet" href="{% static "base/css/toastr.min.css" %}" />
    {% block css %}{% endblock %}
    {% block javascript-head %}{% endblock %}
    <script src="{% static "bower_components/modernizr/modernizr.js" %}"></script>
  </head>
  <body>
    {% include "base/partials/nav.html" %}

    <div class="main-wrap">
    {% block body %}
    {% endblock %}
    </div>

    {% block footer %}
    <div class="dark-section">
        <div class="row">
            <div class="large-12 columns">
            <small class="left">&copy; {% now "Y" %} <a href="http://odalc.org">Oakland Digital Arts and Literacy Center Inc.</a></small>
            <small class="right">Developed by <a href="http://calblueprint.org">Blueprint</a></small>
            </div>
        </div>
    </div>
    {% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>
    <script src="{% static "base/js/app.js" %}"></script>
    <script src="{% static "base/js/toastr.min.js" %}"></script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            toastr.{{ message.tags }}('{{ message }}')
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    <script>
      $(document).foundation();
    </script>
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
