{% extends "base/base.html" %}

{% load staticfiles %}

{% block body %}

<div class="row white-section">
    <div class="large-12 columns">
        <form method="POST">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

          {% include "base/partials/formfield.html" with field=form.title %}
          {% include "base/partials/formfield.html" with field=form.short_description %}
          {% include "base/partials/formfield.html" with field=form.long_description %}
          {% include "base/partials/formfield.html" with field=form.size %}
          {% if is_admin_user %}
              {% include "base/partials/formfield.html" with field=form.start_datetime %}
              {% include "base/partials/formfield.html" with field=form.end_datetime %}
          {% else %}
              {% include "base/partials/hidden_formfield.html" with field=form.start_datetime %}
              {% include "base/partials/hidden_formfield.html" with field=form.end_datetime %}
          {% endif %}
          {% include "base/partials/formfield.html" with field=form.prereqs %}
          {% include "base/partials/formfield.html" with field=form.skill_level %}
          {% include "base/partials/formfield.html" with field=form.cost %}
          {% include "base/partials/formfield.html" with field=form.odalc_cost_split %}
          {% include "base/partials/hidden_img_uploadfield.html" with field=form.image %}
          {% include "base/partials/hidden_file_uploadfield.html" with field=form.course_material %}
          {% include "base/partials/formfield.html" with field=form.additional_info %}
          {% if is_admin_user %}
              {% include "base/partials/formfield.html" with field=form.status %}
          {% else %}
              {% include "base/partials/hidden_formfield.html" with field=form.status %}
          {% endif %}
          <input id="save_edit" type="submit" value="Save" />
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
{% include "base/partials/img_uploadjs.html" with field=form.image %}
{% include "base/partials/file_uploadjs.html" with field=form.course_material %}
<script>
$().ready(function() {
    $('#file_{{ form.image.id_for_label }}').on("change", s3_upload_{{ form.image.id_for_label }});
});
$().ready(function() {
    $('#file_{{ form.course_material.id_for_label }}').on("change", s3_upload_{{ form.course_material.id_for_label }});
});
</script>
{% endblock %}
