{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Donate{% endblock %}

{% block body %}
<div class="white-section">
    <div class="row">
        <div class="large-5 columns">
            <h1>Contribute today</h1>
            <p>Oakland digital is a non-profit effort. We heavily rely on your blah blah blah for blah blah. Please consider blah blah blah-ing and blah blah blah-ing for our cause.</p>

            <p>Falafels are great and i really enjoy eating them. This is some more text to encourage donating.</p>

            <p><button class="btn large">Donate</button></p>

            <p><small>All contributions are tax-exempt to the extent allowed by law. Oakland Digital Arts and Literacy Center Inc is a 501(c)(3) nonprofit organization: Federal Tax 27-0720655. We respond to each donation with a charitable donation letter for your tax records, and we never share your information with other organizations.
            </small></p>
        </div>
        <div class="large-7 columns">
            <img src="{% static "base/img/smiling-people.jpg" %}"/>
        </div>
    </div>
</div>
{% endblock %}
