{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Donate{% endblock %}

{% block body %}
<div class="white-section">
    <div class="row">
        <div class="large-5 columns">
            <h1>Contribute</h1>
            <p>
            Your support helps keeps this program running and allows us to reach more underserved communities with the knowledge and skills they need.
            Together, we can help these communities achieve economic success and empowerment through digital literacy.
            By donating to Oakland Digital, you are helping to close the digital literacy and opportunity gap.
            </p>
            <p><button class="btn large">Donate</button></p>
            <p><small>All contributions are tax-exempt to the extent allowed by law. Oakland Digital Arts and Literacy Center Inc is a 501(c)(3) nonprofit organization: Federal Tax 27-0720655. We respond to each donation with a charitable donation letter for your tax records, and we never share your information with other organizations.
            </small></p>
        </div>
        <div class="large-7 columns">
            <img src="{% static "base/img/smiling-people.jpg" %}"/>
        </div>
    </div>
</div>
{% endblock %}
