{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}FAQ{% endblock %}

{% block nav %}
    {% include "base/partials/nav/nav_faq.html" %}
{% endblock %}

{% block body %}
<div class="faq-header">
    <div class="faq-header-img"></div>
    <div class="faq-header-overlay"></div>
    <div class="faq-header-content">
        <div class="row">
            <div class="medium-4 columns">
                <h1>FAQ</h1>
            </div>
            <div class="medium-8 columns">
                <dl class="sub-nav" data-tab>
                  <dt>View By:</dt>
                  <dd class="active"><a href="#general">General</a></dd>
                  <dd><a href="#students">Students</a></dd>
                  <dd><a href="#teachers">Teachers</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="faq-content tabs-content">
    <div class="content active" id="general">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 class="header">General</h2>
                <div class="faq-tile">
                    <h3 class="faq-question">Where are courses held?</h3>
                    <p class="faq-answer">
                    All courses are held at Oakland Digital's 1,300 square foot computer facility located at <a href="https://maps.google.com/?daddr=1224+Harrison+Street+Oakland+CA+94612" target="_blank">1224 Harrison St.</a> in downtown Oakland.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="students">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 class="header">Students</h2>
                <div class="faq-tile">
                    <h3 class="faq-question">What is the time commitment like?</h3>
                    <p class="faq-answer">
                        Courses are one-day sessions that range from 1 to 5 hours in length.
                    </p>
                </div>
                <div class="faq-tile">
                    <h3 class="faq-question">What are the fees?</h3>
                    <p class="faq-answer">
                        Free to $75, sliding scale and scholarships available. Call 510-435-2945 for more details.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content" id="teachers">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 class="header">Teachers</h2>
                <div class="faq-tile">
                    <h3 class="faq-question">What is the time commitment like?</h3>
                    <p class="faq-answer">
                    We recommend teachers course sessions that are about 2 hours long, but they can range from 1 to 5 hours in length.
                    </p>
                </div>
                <div class="faq-tile">
                    <h3 class="faq-question">What are the fees?</h3>
                    <p class="faq-answer">
                     Oakland Digital is fueled by the passion and expertise of our volunteer-driven team. We suggest teachers donate 25% of their class fee to Oakland Digital to help keep our programs going strong.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
