{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block nav %}
{% include "base/partials/nav/nav_home.html" %}
{% endblock %}

{% block body %}
<div id="main-splash">
    <div class="main-splash-img">
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_1.jpg" %});"></div>
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_2.jpg" %});"></div>
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_3.jpg" %});"></div>
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_6.jpg" %});"></div>
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_4.jpg" %});"></div>
        <div class="splash-image" style="background-image: url({% static "img/base/home/home_5.jpg" %});"></div>
    </div>
    <div class="main-splash-overlay"></div>
    <div class="main-splash-content">
        <div class="row">
            <div class="medium-9 medium-centered columns">
                <h1>Learn from your community's leading tech & design professionals</h1>
            </div>
        </div>
        <div class="row">
            <div class="small-12 small-centered columns button-set">
                {% if not user.is_authenticated %}
                <a href="{% url "courses:listing" %}" class="landing-button">Take Courses</a>
                <a href="{% url "teachers:register" %}" class="landing-button">Teach Courses</a>
                <a href="{% url "work" %}" class="landing-button">Help Businesses</a>
                <a href="{% url "talent" %}" class="landing-button">Hire Talent</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="light-grey-section">
    <!-- Upcoming courses title/description -->
    <div class="row course-items-description">
        <div class="large-12 columns">
            <h3>Featured Courses</h3>
        </div>
    </div>

    <!-- Upcoming courses items -->

    <div class="row course-items">
        {% for course in featured_courses %}
        <div class="course-box">
            <a href="{% url "courses:detail" course.pk course.slug %}">
                <div class="top-shelf">
                    <div class="title-wrap">
                        <h4>{{ course.title }}</h4>
                    </div>
                    <img src="{{ course.image_thumbnail.url }}"></img>
                </div>
                <div class="bottom-shelf">
                    <h4>With {{ course.teacher.first_name }} {{ course.teacher.last_name }}</h4>
                    <h4> {{ course.start_datetime|date:'l, F jS' }}</h4>
                </div>
            </a>
        </div>
        {% endfor %}
        <a class="right" href="{% url "courses:listing" %}">Browse all courses &raquo;</a>
    </div>
</div>

<div class="home-about-section">
    <div class="row">
        <div class="medium-7 columns">
            <h3><strong>What is BRIDGE?</strong></h3>
            <p>
            BRIDGE is an education platform that partners with professionals from the tech and design industry to offer courses that teach practical technical skills. We envision a future where under resourced communities have access to professional opportunities. BRIDGE aims to empower people with digital literacy education that will improve their lives and the communities they live in.

            Whether it's learning how to manage your business' brand through social media or code your first website, empower yourself to harness the the digital tools to succeed in the 21st century.
            </p>
            <a href="{% url "about" %}">Learn more &raquo;</a>
        </div>
        <div class="medium-5 columns text-center">
            <img src="{% static "img/base/bridge-logo-circle.png" %}"/>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{% static "js/base/home.js" %}"></script>
{% endblock %}
