{% extends "base/base.html" %}

{% block title %}Log In{% endblock %}

{% block body %}
<div class="row">
    <div class="large-5 columns white-section">
        <h3>Log in to an existing account</h3>
        <form method="POST">
          {% csrf_token %}

          <label for="{{ form.username.id_for_label }}">
          {{ form.username.label }}
          {{ form.username }}
          </label>

          {% for error in form.username.errors %}
              <small class="error">{{ error }}</small>
          {% endfor %}

          <label for="{{ form.password.id_for_label }}">
          {{ form.password.label }}
          {{ form.password }}
          </label>

          {% for error in form.password.errors %}
              <small class="error">{{ error }}</small>
          {% endfor %}

          <input class="button success right radius" type="submit" value="Log In" />
        </form>
    </div>
    <div class="offset-2 large-5 columns white-section">
        <h3>I don't have an account</h3>
        <div class="row">
            <div class="large-12 medium-6 small-12 columns">
                <p>Interested in taking courses?</p>
                <div>
                    <form method="GET" action="{% url "students:register" %}">
                        <input class="button info radius" type="submit" value="Register as a Student" />
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    </form>
                </div>
            </div>
            <div class="large-12 medium-6 small-12 columns">
                <p>Interested in teaching courses?</p>
                <div>
                    <a href="{% url "teachers:register" %}" class="button radius">Apply to be a Teacher</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
