{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Hire Local Talent{% endblock %}

{% block nav %}
{% include "base/partials/nav/nav_home.html" %}
{% endblock %}

{% block body %}
<div class="talent-header">
    <div class="talent-header-img"></div>
    <div class="talent-header-overlay"></div>
    <div class="talent-header-content">
        <div class="row">
            <div class="medium-8 medium-centered columns text-center">
                <h1>Hire Local Talent</h1>
                <p>
                Launching 2015
                </p>
            </div>
        </div>
    </div>
</div>
<div class="talent-content">
    <div class="row">
        <div class="medium-8 medium-centered columns">
            <p>
            Professional graphic design and creative services while helping our community. Request a demo with <a href="mailto:shaun@odalc.org">shaun@odalc.org</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
