{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Work{% endblock %}

{% block nav %}
{% include "base/partials/nav/nav_home.html" %}
{% endblock %}

{% block body %}
<div class="work-header">
    <div class="work-header-img"></div>
    <div class="work-header-overlay"></div>
    <div class="work-header-content">
        <div class="row">
            <div class="medium-8 medium-centered columns text-center">
                <h1>Find Work Opportunities</h1>
                <p>
                Coming Soon
                </p>
            </div>
        </div>
    </div>
</div>
<div class="work-content">
    <div class="row" data-equalizer>
        <div class="medium-8 medium-centered columns">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum mi vel ornare dignissim. Mauris hendrerit tellus quis libero accumsan, a viverra turpis pellentesque. Sed aliquam at nibh id condimentum. Integer eget erat vestibulum, consequat eros eget, pulvinar sapien. Maecenas iaculis dictum mauris, in tempor augue aliquam sit amet. Curabitur odio nulla, tincidunt vitae nulla at, porttitor convallis justo. Sed sit amet dui in orci efficitur iaculis ac nec dui.
            </p>
        </div>
    </div>
</div>

{% endblock %}
