{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Create a new course{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "base/css/jquery.timepicker.css" %}" />
{% endblock %}

{% block is_teacher_dash %}active{% endblock %}

{% block body %}
<div class="blue-header">
    <div class="row">
        <div class="large-7 columns">
            <h1>Create a new course</h1>
            <p>Want to teach a class at ODALC? Tell us about the class you wish to offer below. You can hover over questions for more information.</p>
        </div>
        <div class="large-5 columns">
            {% include "base/partials/return_to_dashboard.html" %}
        </div>
    </div>
</div>
<div class="row white-section">
    <div class="large-12 columns">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

           <fieldset>
                <legend>Course Content</legend>
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="medium-12 columns">
                                {% include "base/partials/formfield.html" with field=form.title %}
                            </div>
                        </div>
                        {% include "base/partials/tooltip_formfield.html" with field=form.short_description %}
                        {% include "base/partials/tooltip_formfield.html" with field=form.long_description %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        {% include "base/partials/tooltip_formfield.html" with field=form.prereqs %}
                    </div>
                    <div class="medium-6 columns">
                        {% include "base/partials/tooltip_formfield.html" with field=form.additional_info %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                          {% include "base/partials/hidden_file_uploadfield.html" with field=form.course_material %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Course Logistics</legend>
                <div class="row">
                    <div class="medium-4 columns">
                        {% include "base/partials/tooltip_formfield.html" with field=form.size %}
                    </div>
                    <div class="medium-4 columns">
                        {% include "base/partials/tooltip_formfield.html" with field=form.skill_level %}
                    </div>
                    <div class="medium-4 columns">
                        <label has-tooltip for="{{ form.cost.id_for_label }}">
                            <span data-tooltip class="has-tip tip-top tip-thin" title="{{ form.cost.help_text }}">
                                Course Fee <small>Required</small>
                            </span>
                            <div class="row collapse">
                                <div class="small-2 columns">
                                    <span class="prefix">$</span>
                                </div>
                                <div class="small-10 columns">
                                    {{ form.cost | attr:"min:5" | attr:"value:5.00" | attr:"step:0.5" }}
                                </div>
                            </div>
                            {% for error in field.errors %}
                            <small class="error">{{ error }}</small>
                            {% endfor %}
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-2 columns text-right">
                        <label>For you:</label>
                        <span id="your-amt">$0.00</span>
                    </div>
                    <div class="small-8 columns">
                        <span data-tooltip class="has-tip tip-top tip-thin" title="{{ form.odalc_cost_split.help_text }}">
                            <label for="{{ form.odalc_cost_split.id_for_label }}">ODALC Donation Split <small>Required</small></label>
                        </span>
                            <div id="split-dollar-slider" class="range-slider round" data-slider data-options="start:20; end:100">
                                <span id='dollar-handle' class="range-slider-handle slider-dollar"></span>
                                <span class="range-slider-active-segment"></span>
                            <input type="hidden" id="split-slider-val" value="60">
                            </div>
                            {% include "base/partials/hidden_formfield.html" with field=form.odalc_cost_split %}
                    </div>
                    <div class="small-2 columns text-left ">
                        <label>Donate to ODALC:</label>
                        <span id="split-dollar-amt">$0.00</span>
                    </div>

                    </div>
                </div>
            </fieldset>


          <fieldset>
              <legend>
              <span data-tooltip class="has-tip tip-top tip-thin" title="We prefer course sessions to be during our business hours, from 1pm to 6pm on weekdays.">
              <strong>Available Dates and Times for Teaching Course</strong>
              </span>
              </legend>
              {% include "base/partials/course_datetimefield.html" with date=form.date1 start_time=form.start_time1 end_time=form.end_time1 %}
              <hr/>
              {% include "base/partials/course_datetimefield.html" with date=form.date2 start_time=form.start_time2 end_time=form.end_time2 %}
              <hr/>
              {% include "base/partials/course_datetimefield.html" with date=form.date3 start_time=form.start_time3 end_time=form.end_time3 %}
          </fieldset>

            {% include "base/partials/formfield.html" with field=form.image %}

          <button class="large right success" id="save_course" type="submit">Submit course</button>

        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
<script src="{% static "base/js/jquery.timepicker.min.js" %}"></script>
{% include "base/partials/file_uploadjs.html" with field=form.course_material %}

<script>
$().ready(function() {
    $('#file_{{ form.course_material.id_for_label }}').on("change", s3_upload_{{ form.course_material.id_for_label }});

    var dateOptions = {
        beforeShowDay: $.datepicker.noWeekends,
        minDate: 0
    };
    var timeOptions = {
        'minTime': '12:00pm',
        'maxTime': '9:00pm',
        'forceRoundTime': true,
    };

    $("#{{ form.date1.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time1.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time1.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.date2.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time2.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time2.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.date3.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time3.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time3.id_for_label }}").timepicker(timeOptions);

});

var formCostId = '#' + '{{ form.cost.id_for_label }}'
var formOdalcSplitId = '#' + '{{ form.odalc_cost_split.id_for_label }}'

$("#{{ form.cost.id_for_label }}").blur(function() {
    $(this).val(parseFloat($(this).val()).toFixed(2));
});

</script>
<script src="{% static "base/js/costSplitSlider.js" %}"></script>
{% endblock %}
