{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Create a new course{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "base/css/jquery.timepicker.css" %}" />
{% endblock %}

{% block is_teacher_dash %}active{% endblock %}

{% block body %}
<div class="row white-section">
    <div class="large-12 columns">
        <h1>Create a new course</h1>
        <p class="larger">Want to teach a class at ODALC? Tell us about the class you wish to offer below.</p>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

           <fieldset>
                <legend>Course Content</legend>
                <div class="row">
                    <div class="medium-12 columns">
                        {% include "base/partials/formfield.html" with field=form.title %}
                        {% include "base/partials/formfield.html" with field=form.short_description %}
                        {% include "base/partials/formfield.html" with field=form.long_description %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        {% include "base/partials/formfield.html" with field=form.prereqs %}
                    </div>
                    <div class="medium-6 columns">
                        {% include "base/partials/formfield.html" with field=form.additional_info %}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                          {% include "base/partials/hidden_file_uploadfield.html" with field=form.course_material %}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Course Logistics</legend>
                <div class="row">
                    <div class="medium-3 columns">
                        {% include "base/partials/formfield.html" with field=form.size %}
                    </div>
                    <div class="medium-3 columns">
                        {% include "base/partials/formfield.html" with field=form.skill_level %}
                    </div>
                    <div class="medium-3 columns">
                    <label for="{{ form.cost.id_for_label }}">Course cost</label>
                        <div class="range-slider round" data-slider>
                          <span id="cost-dollar-amt" class="range-slider-handle slider-dollar">$3.20</span>
                          <span class="range-slider-active-segment"></span>
                          <input type="hidden" id="cost-slider">
                        </div>
                        {% include "base/partials/hidden_formfield.html" with field=form.cost %}
                    </div>
                    <div class="medium-3 columns">
                    <label for="{{ form.odalc_cost_split.id_for_label }}">Split to ODALC <i class="lighter">(and <span id="your-amt">$0</span> to you)</i></label>
                        <div class="range-slider round" data-slider>
                          <span id="split-dollar-amt" class="range-slider-handle slider-dollar">$3.20</span>
                          <span class="range-slider-active-segment"></span>
                          <input type="hidden" id="split-slider">
                        </div>

                        {% include "base/partials/hidden_formfield.html" with field=form.odalc_cost_split %}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Course Image</legend>
              {% include "base/partials/hidden_img_uploadfield.html" with field=form.image %}
            </fieldset>

          <fieldset>
          <legend>Availabile Dates and Times for Teaching Course</legend>
          {% include "base/partials/course_datetimefield.html" with date=form.date1 start_time=form.start_time1 end_time=form.end_time1 %}
          {% include "base/partials/course_datetimefield.html" with date=form.date2 start_time=form.start_time2 end_time=form.end_time2 %}
          {% include "base/partials/course_datetimefield.html" with date=form.date3 start_time=form.start_time3 end_time=form.end_time3 %}
          </fieldset>

          <button id="save_course" type="submit">Submit course</button>

        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
<script src="{% static "base/js/jquery.timepicker.min.js" %}"></script>
{% include "base/partials/img_uploadjs.html" with field=form.image %}
{% include "base/partials/file_uploadjs.html" with field=form.course_material %}
<script>


var MAX_AMT = 20.00;

var calculateAmount = function(perc) {
    return perc/100 * MAX_AMT + 5;
};

var percentageToDollar = function(perc) {
    return calculateAmount(perc).toFixed(2);
};

var percentageOfDollar = function(costPerc, perc) {
    return (calculateAmount(costPerc) * perc / 100).toFixed(2);
};

var calculateYourAmt = function(costPerc, perc) {
    return (percentageToDollar(costPerc) - percentageOfDollar(costPerc, perc)).toFixed(2);
};


$().ready(function() {
    $('#file_{{ form.image.id_for_label }}').on("change", s3_upload_{{ form.image.id_for_label }});
    $('#file_{{ form.course_material.id_for_label }}').on("change", s3_upload_{{ form.course_material.id_for_label }});

    var dateOptions = {
        beforeShowDay: $.datepicker.noWeekends,
        minDate: 0
    };
    var timeOptions = {
        'minTime': '9:00am',
        'maxTime': '9:00pm',
        'forceRoundTime': true,
    };

    $("#{{ form.date1.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time1.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time1.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.date2.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time2.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time2.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.date3.id_for_label }}").datepicker(dateOptions);
    $("#{{ form.start_time3.id_for_label }}").timepicker(timeOptions);
    $("#{{ form.end_time3.id_for_label }}").timepicker(timeOptions);

    // update UI elements
    $('#cost-dollar-amt').text('$' + percentageToDollar(parseInt($('#cost-slider').val())));
    $('#split-dollar-amt').text('$' + percentageOfDollar(
        parseInt($('#cost-slider').val()),
        parseInt($('#split-slider').val())
    ));
    $('#your-amt').text('$' + calculateYourAmt(
        parseInt($('#cost-slider').val()),
        parseInt($('#split-slider').val())
    ));

    // update actual form elements
    $('#{{ form.cost.id_for_label}}').val(percentageToDollar(
        parseInt($('#cost-slider').val())
    ));
    $('#{{ form.odalc_cost_split.id_for_label}}').val(percentageOfDollar(
        parseInt($('#cost-slider').val()),
        parseInt($('#split-slider').val())
    ));


    // Event handler when cost amount is adjusted
    $('#cost-dollar-amt').on('mousedown mousemove', function() {
        $('body').on('mousemove', function() {
            // update UI elements
            $('#cost-dollar-amt').text('$' + percentageToDollar(parseInt($('#cost-slider').val())));
            $('#split-dollar-amt').text('$' + percentageOfDollar(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));
            $('#your-amt').text('$' + calculateYourAmt(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));

            // update actual form elements
            $('#{{ form.cost.id_for_label}}').val(percentageToDollar(
                parseInt($('#cost-slider').val())
            ));
            $('#{{ form.odalc_cost_split.id_for_label}}').val(percentageOfDollar(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));

        });
    });

    // Event handler for when split amount is adjusted
    $('#split-dollar-amt').on('mousedown mousemove', function() {
        $('body').on('mousemove', function() {
            // update UI elements
            $('#split-dollar-amt').text('$' + percentageOfDollar(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));
            $('#your-amt').text('$' + calculateYourAmt(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));

            // update actual form elements
            $('#{{ form.odalc_cost_split.id_for_label}}').val(percentageOfDollar(
                parseInt($('#cost-slider').val()),
                parseInt($('#split-slider').val())
            ));
        });
    });

});
</script>
{% endblock %}
