{% extends "base/base.html" %}

{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block is_teacher_dash %}active{% endblock %}

{% block body %}

<div class="white-section">
<div class="row">
    <div class="large-7 columns">
        <h2>Editing your profile information</h2>
        <p class="larger">Fix up your profile just the way you like it!</p>
    </div>
</div>
<div class="row">
    <div class="large-5 columns">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

          {% include "base/partials/formfield.html" with field=form.first_name %}
          {% include "base/partials/formfield.html" with field=form.last_name %}
          {% include "base/partials/formfield.html" with field=form.organization %}
          {% include "base/partials/formfield.html" with field=form.position %}
          {% include "base/partials/formfield.html" with field=form.street_address %}
          {% include "base/partials/formfield.html" with field=form.city %}
          {% include "base/partials/formfield.html" with field=form.zipcode %}
          {% include "base/partials/formfield.html" with field=form.phone %}

    </div>
    <div class="large-6 offset-1 columns">
         {% include "base/partials/formfield.html" with field=form.about %}
          {% include "base/partials/formfield.html" with field=form.experience %}
          {% include "base/partials/hidden_img_uploadfield.html" with field=form.picture %}
          {% include "base/partials/hidden_file_uploadfield.html" with field=form.resume %}

          <input class="button success left" type="submit" value="Save" />
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
{% include "base/partials/img_uploadjs.html" with field=form.picture %}
{% include "base/partials/file_uploadjs.html" with field=form.resume %}
<script>
$().ready(function() {
    $('#file_{{ form.picture.id_for_label }}').on("change", s3_upload_{{ form.picture.id_for_label }});
});
$().ready(function() {
    $('#file_{{ form.resume.id_for_label }}').on("change", s3_upload_{{ form.resume.id_for_label }});
});
</script>
{% endblock %}
