{% extends "base/base.html" %}

{% load staticfiles %}

{% block body %}

<div class="row white-section">
    <div class="large-12 columns">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for error in form.non_field_errors %}
          <div data-alert class="alert-box alert">
            {{ error }}
            <a href="#" class="close">&times;</a>
          </div>
          {% endfor %}

          {% include "base/partials/formfield.html" with field=form.email %}
          {% include "base/partials/formfield.html" with field=form.first_name %}
          {% include "base/partials/formfield.html" with field=form.last_name %}
          {% include "base/partials/formfield.html" with field=form.password1 %}
          {% include "base/partials/formfield.html" with field=form.password2 %}
          {% include "base/partials/formfield.html" with field=form.organization %}
          {% include "base/partials/formfield.html" with field=form.position %}
          {% include "base/partials/formfield.html" with field=form.street_address %}
          {% include "base/partials/formfield.html" with field=form.city %}
          {% include "base/partials/formfield.html" with field=form.zipcode %}
          {% include "base/partials/formfield.html" with field=form.phone %}
          {% include "base/partials/formfield.html" with field=form.about %}
          {% include "base/partials/formfield.html" with field=form.experience %}
          {% include "base/partials/formfield.html" with field=form.info_source %}
          {% include "base/partials/hiddenuploadfield.html" with field=form.picture %}
          {% include "base/partials/hiddenuploadfield.html" with field=form.resume %}

          <input class="button success right" type="submit" value="Register" />
        </form>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{% static "base/js/s3upload.js" %}"></script>
{% include "base/partials/uploadjs.html" with field=form.picture filename='thisIsAFile' %}
{% include "base/partials/uploadjs.html" with field=form.resume %}
<script>
$().ready(function() {
    $('#file_{{ form.picture.id_for_label }}').on("change", s3_upload_{{ form.picture.id_for_label }});
});
$().ready(function() {
    $('#file_{{ form.resume.id_for_label }}').on("change", s3_upload_{{ form.resume.id_for_label }});
});
</script>
{% endblock %}
