.sub-nav {
    #tab-courses-pending.active a {
        background: $dark-blue;
    }
    #tab-courses-active.active a {
        background: $dark-green;
    }
    #tab-courses-finished.active a {
        background: $charcoal;
    }
    #tab-courses-denied.active a {
        background: $bright-red;
    }
}
