<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web development 101 | ODALC</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <!-- NAV section -->
    <div class="bp-black-container"><div class="row">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">ODALC | Courses</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li><a href="#">Teacher Login</a></li>
              <li class="active"><a href="#">Student Login</a></li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><a href="#">About</a></li>
              <li><a href="#">Courses</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </div></div>
    <!-- end NAV section -->

    <!-- Title section -->
    <div class="mid-dark-section">
      <div class="row">
        <div class="large-7 columns">
          <h1><strong>Web development 101</strong></h1>
          <p>An introduction to web technologies for new learners, focusing on server basics, template creation, and styling.</p>
        </div>
        <div class="large-4 large-offset-1 columns center">
          <button class="enroll-btn large success">Enroll now</button>
        </div>
      </div>
    </div>
    <!-- end title section-->

    <!-- logistics section -->
    <div class="blue-section">
      <div class="row">
          <table class="course-logistic">
            <tbody>
              <tr>
                <td class="item">Classes start:</td> <td>March 11, 2014</td>
                <td class="item">Course length:</td> <td>5 weeks</td>
                <td class="item">Estimated effort:</td> <td>4-5 hours/week</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <!-- about section -->
    <div class="white-section">
      <div class="row">
        <!-- about the course -->
        <div class="large-7 columns">
          <h3>About this course</h3>
          <p>In partnership with the awesome world fund and Facebook, this course aims to help engage young adults in fostering new technical knowledge that will help them succeed in an evermore technological world.</p>

          <p>Students will learn the basics of HTML, CSS, and JavaScript. Students will be creating a portfolio website as their class project.</p>

          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

          <h3>Requirements</h3>
          <ul>
            <li>A laptop with Windows 7 (or higher), or Mac OS X 10.7 (or higher)</li>
            <li>3 neat facts about yourself</li>
            <li>A brain</li>
          </ul>
        </div>
        <!-- about the teacher -->
        <div class="large-5 columns">
          <h3>About the instructor</h3>
          <div class="row author">
            <div class="pic">
              <img class="th" src="http://www.refrescogerber.co.uk/media_en_uk/transfer/img/sunny_d_tangy_florida_logo.jpg" />
            </div>
            <div class="details">
              <h4>Sunny Dee</h4>
              <div class="role"><i>Software Engineer</i></div>
              <div class="inst">Facebook, Inc.</div>
            </div>
          </div>
          <!-- bio portion -->
          <br>
          <p class="light">Sunny Dee is renowned for being ridiculously awesome. Known for supporting technologists all over the world, Sunny has single handedly transformed the industry as we know it today.</p>
        </div>
      </div>
    </div>
    <!-- end logistics section -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
