.button-group li .button {
    border-left: none;
}

.sub-nav {
    #tab-courses-pending.active a {
        background: $dark-purple;
    }
    #tab-courses-active.active a {
        background: $dark-green;
    }
    #tab-courses-finished.active a {
        background: $charcoal;
    }
    #tab-courses-denied.active a {
        background: $bright-red;
    }
}

.review-header {
    background-color: $medium-grey;
    padding-bottom: 10px;
    .sub-nav-review {
        @include sub-nav();
        display: inline-block;
        margin-top: 1px;
        margin-bottom: 0px;
        padding-bottom: 1rem;
        .sub-nav-title {
            color: $charcoal;
            font-size: 1.5rem;
            margin-left: 1rem;
            margin-top: 2rem;
        }
        dd .nav-tab {
            @include radius();
            background-color: scale-color($charcoal, $lightness: 40%);
            color: $light-grey;
            &:hover {
                color: $white;
            }
        }
    }
    ul.nav-tab-button-group {
        @include button-group-container();
        display: inline-block;
        @media #{$medium-up} {
            @extend .right;
            margin-top: 65px;
        }
        @media #{$small-only} {
            margin-top: 0px;
        }

        padding-right: 10px;
        border-left: none;
        li {
            display: inline-block;
            margin: 5px;
            input.review-button {
                @extend .odalc-button;
                @include radius;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: rem-calc(16);
                cursor: pointer;
                &:hover, &:active {
                    background-color: rgba(121, 88, 159, 0.1);
                    color: $medium-purple;
                    border: 1px solid $medium-purple;
                }
            }
        }
    }
}

.admin-dashboard-header {
    padding: 2em 0;
    background-color: $charcoal;
    h1 {
        color: $white;
        font-weight: 400;
    }
    p {
        color: $white;
    }

    a {
        color: $white;
        &:hover {
            color: scale-color($white, $lightness: -20%);
        }
    }
    .subnav-list {
        @include inline-list;
        margin-top: 25px;
    }

}

.admin-dashboard-content {
    @include section-padding();
    @include section-border();
    background-color: $medium-grey;
    min-height: 500px;
    height: 100%;
}

.admin-register-block {
    @extend .light-grey-section;
    min-height: 600px;
}
