{% extends "base/base.html" %}

{% load staticfiles %}


{% block body %}

{% block subnav %}
{% endblock %}

<div class="password-change-block">
    <div class="row">
        <div class="small-8 small-centered columns">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
            <div data-alert class="alert-box alert">
                {{ error }}
                <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}

            {% include "base/partials/formfield.html" with field=form.old_password %}
            {% include "base/partials/formfield.html" with field=form.new_password1 %}
            {% include "base/partials/formfield.html" with field=form.new_password2 %}

            <input class="button success right radius" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
