<div class="dashboard-nav">
    <div class="row">
        <div class="small-12 columns">
            <div class="dashboard-nav-links">
                <a class="dashboard-nav-link {% block is_dashboard %}{% endblock %}" href="{% url "admins:dashboard" %}">Dashboard</a>
                <a class="dashboard-nav-link {% block is_register %}{% endblock %}" href="{% url "admins:register" %}">Register new admin</a>
                <a class="dashboard-nav-link {% block is_edit %}{% endblock %}" href="{% url "admins:edit" %}">Edit profile information</a>
                <a class="dashboard-nav-link {% block is_password_change %}{% endblock %}" href="{% url "admins:password_change" %}">Change password</a>
            </div>
        </div>
    </div>
</div>
