<!-- NAV section -->
<div id="navbar">
  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
          <h1><a href="{% url "home" %}">Oakland Digital | Courses</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="{% url "home" %}">Menu</a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
          {% if user.is_authenticated %}
              {% if is_student_user %}
              <li class="{% block is_student_dash %}{% endblock %}"><a href="{% url "students:dashboard" %}">Student Dashboard</a></li>
              {% elif is_teacher_user %}
              <li class="{% block is_teacher_dash %}{% endblock %}"><a href="{% url "teachers:dashboard" %}">Teacher Dashboard</a></li>
              {% elif is_admin_user %}
              <li class="{% block is_admin_dash %}{% endblock %}"><a href="{% url "admins:dashboard" %}">Admin Dashboard</a></li>
              {% endif %}
              <li><a href="{% url "users:logout" %}">Logout</a></li>
          {% else %}
              <li><a href="{% url "users:login" %}?next={{ request.path }}">Login</a></li>
          {% endif %}
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="{% block is_courses_page %}{% endblock %}"><a href={% url "courses:listing" %}>Courses</a></li>
            <li class="{% block is_about_page %}{% endblock %}"><a href={% url "about" %}>About</a></li>
            <li class="{% block is_faq_page %}{% endblock %}"><a href={% url "faq" %}>FAQ</a></li>
            <li class="{% block is_donate_page %}{% endblock %}"><a href={% url "donate" %}>Donate</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>
<!-- end NAV section -->
