#about-bottom-image {
    background-color: #eee;
    background: url('base/img/hipster_stuff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 480px;
}

.header-section {
    @include section-padding();
    background-color: $medium-grey;

    p {
        color: #888;
        font-size: 1.3em;
    }
}
