.slider-dollar {
    font-family: 'Courier New';
    font-size: 10pt;
    color: #fff;
    width: 65px;
    padding: 5px 0px 5px 8px;
}

.sub-nav {
    #tab-courses-pending.active a {
        background: $element-blue;
    }
    #tab-courses-active.active a {
        background: $element-green;
    }
    #tab-courses-finished.active a {
        background: $element-grey;
    }
    #tab-courses-denied.active a {
        background: $element-red;
    }
}

.range-slider-active-segment {
    background: $element-green-light !important;
}

.slider-dollar {
    background: $element-green !important;
}

