@mixin section-padding() {
    padding: 4em 0;
}

@mixin section-border() {
    border-top: 1px solid $medium-grey;
    border-bottom: 1px solid $medium-grey;
}

.main-wrap {
    min-height: 680px;
}

.blue-header {
    padding: 2em 0;
    background-color: $charcoal;
    h1 {
        color: $white;
        font-size: 2em;
    }

    p{
        color: $white;
    }

    a {
        color: $light-grey;
        &:hover {
            color: $white;
       }
    }

}

.white-section {
    @include section-padding();
    @include section-border();
    background-color: $light-grey;
}

.gray-section {
    @include section-padding();
    @include section-border();
    background-color: $dark-grey;

    p {
        color: $charcoal;
    }
}

.light-grey-section {
    @include section-padding();
    @include section-border();
    background-color: $light-grey;
}

.medium-grey-section {
    @include section-padding();
    @include section-border();
    background-color: $medium-grey;
}

.charcoal-section {
    @include section-padding();
    @include section-border();
    background-color: $charcoal;
}

.charcoal-section-no-pad {
    @include section-border();
    background-color: $charcoal;
}

a .button {
    @include button();
}
