@import "app";

.course-background-splash {
    @include section-padding();
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.course-background-splash:after {
    background-color: $light-secondary-color;

    p {
        color: #888;
        font-size: 1.3em;
    }

    .enroll-btn {
        margin-top: 3rem;
    }

}

table.course-logistic {
    @include grid-column(12);

    border: none;
    margin-top: 1.25rem; // bottom margin from column
    background: transparent;

    td {
        color: #fff;
        &.item {
            font-weight: bold;
        }
    }
}

.author {
    .pic {
        @include grid-column(5);
    }

    .details {
        @include grid-column(7);

        .role {
            color: #888;
        }

        .inst {
            color: #888;
            margin-top: 0.5em;
        }
    }
}
