#footer {
    padding: 2em 0;
    background-color: $charcoal;
    p {
        color: $light-grey;
    }
    small {
        color: $light-grey;
    }

    #bp-wrapper {
        vertical-align: top;
        a {
            text-decoration: none;
        }
        .powered_by {
            display: inline-block;
            vertical-align: middle;
            height: 45px;
            margin: 15px 5px 0;
            opacity: 0.8;
            color: $light-grey;
        }

        #bp-logo {
            width: 30px;
            cursor: pointer;
        }
        .spinner {
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
               -moz-transition:    -moz-transform 0.5s ease-in-out;
                 -o-transition:      -o-transform 0.5s ease-in-out;
                    transition:         transform 0.5s ease-in-out;
        }

        .spinner:hover {
            -webkit-transform: rotate(360deg);
               -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                 -o-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    #odalc-footer {
        padding-top: 20px;
    }
}


