@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition-duration($time){
    transition-duration:$time;
    -webkit-transition-duration:$time;
    -ms-transition-duration:$time;
    -moz-transition-duration:$time;
    -o-transition-duration:$time;
}

form, .form-list{
	list-style: none;
	> li > label {
		font-size: 120%;
	}
	ul{
		list-style: none;
        margin: 0;
	}
    span.helptext {
        font-size: 0.8em;
        color: #888;
    }
}

ul.errorlist {
    margin: 0;
    background-color: #ff8888;
    padding: 0.3em 0.5em;
    li {
        color: #fff;
        font-weight: bold;
    }
}

.tip-thin {
    color: rgb(77, 77, 77);
    font-weight: normal;
}

fieldset {
    legend {
        strong {
            color: rgb(34, 34, 34);
        }
    }
}

.datetime-option{
    cursor:pointer;
    margin:4px 0px;
    padding:4px;
    border: 1px solid $light-secondary-color;
    @include border-radius(4px);
    @include transition-duration(0.3s);
    &:hover{
        background-color:$light-secondary-color;
    }
    &:active{
        background-color:$dark-secondary-color;
    }
}

.slider-dollar {
    background: $element-green !important;
    font-family: 'Courier New';
    font-size: 10pt;
    color: #fff;
    width: 65px;
    padding: 5px 0px 5px 8px;
}

.range-slider-active-segment {
    background: $element-green-light !important;
}

