@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin transition-duration($time){
    transition-duration:$time;
    -webkit-transition-duration:$time;
    -ms-transition-duration:$time;
    -moz-transition-duration:$time;
    -o-transition-duration:$time;
}

form, .form-list{
	list-style: none;
	> li > label {
		font-size: 120%;
	}
	ul{
		list-style: none;
        margin: 0;
	}
    span.helptext {
        font-size: 0.8em;
        color: $charcoal;
    }
}

ul.errorlist {
    margin: 0;
    background-color: $bright-red;
    padding: 0.3em 0.5em;
    li {
        color: $white;
        font-weight: bold;
    }
}

.tip-thin {
    font-weight: normal;
}

fieldset {
    legend {
        strong {
            color: $charcoal;
        }
        background: $light-grey;
    }
}

.datetime-option{
    cursor:pointer;
    margin:4px 0px;
    padding:4px;
    border: 1px solid $medium-grey;
    @include border-radius(4px);
    @include transition-duration(0.3s);
    &:hover{
        background-color:$dark-grey;
    }
    &:active{
        background-color:$charcoal;
    }
}

.slider-dollar {
    background: $dark-green !important;
    font-family: 'Courier New';
    font-size: 10pt;
    color: $white;
    width: 65px;
    padding: 5px 0px 5px 8px;
}

.range-slider-active-segment {
    background: scale-color($dark-green, $lightness: -14%) !important;
}

input {
    margin: 0;
}
