@import "app";

form, .form-list{
	list-style: none;
	> li > label {
		font-size: 120%;
	}
	ul{
		list-style: none;

	}
}

ul.errorlist {
    margin: 0;
    background-color: #ff8888;
    padding: 0.3em 0.5em;
    li {
        color: #fff;
        font-weight: bold;
    }
}
