#main-splash {
    background-color: $light-grey;
    background: url('base/img/computer_class.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;

    .row {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    h1, h2 {
        color: $white;
        background-color: rgba(0,0,0,0.7);
        display:inline;
        padding: 0.025em;
    }
}

.course-items-description {
    padding-bottom: 3.0em;
}

.course-items {
}


.course-box {
    @include grid-column(4);

    position: relative;
    border-radius: 5px;
    margin-bottom: 3em;

    cursor: pointer;

    .top-shelf {
        position: relative;
        display: block;
        width: 100%;
        height: 200px;
        overflow:hidden;


        img {
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .title-wrap {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
            width: 100%;
            padding: 0.75em 1em 0.5em;
            z-index: 2;

            transition: all 0.25s ease;

            h4 {
                color: $white;
                font-size: 1em;

            }
        }

        .title-wrap:hover {
            padding: 1.65em 1em 1.5em;
            background-color: rgba(0,0,0,0.9);
        }
    }
    .bottom-shelf {
        display: block;
        background-color: $charcoal;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 2;

        padding: 1.3em 1em;
        h4 {
            color: $white;
            font-size: 0.9em;
            span.date {
                color: $light-grey;
                font-weight: bold;
            }
        }
    }
}
