@mixin section-padding() {
    padding: 4em 0;
}

@mixin section-border() {
    border-top: 1px solid $dark-grey;
}


@mixin transition-ease-all() {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.main-wrap {
    min-height: 680px;
}

.sub-header {
    padding: 2em 0;
    background-color: $medium-grey;
    h1 {
        color: $charcoal;
        font-weight: 700;
    }

    p {
        color: $charcoal;
    }
}

.white-section {
    @include section-padding();
    @include section-border();
    background-color: $light-grey;
}

.white-section-no-border {
    @include section-padding();
    background-color: $light-grey;
}

.gray-section {
    @include section-padding();
    @include section-border();
    background-color: $dark-grey;

    p {
        color: $charcoal;
    }
}

.light-grey-section {
    @include section-padding();
    @include section-border();
    background-color: $light-grey;
}

.medium-grey-section {
    @include section-padding();
    @include section-border();
    background-color: $medium-grey;
}

.charcoal-section {
    @include section-padding();
    @include section-border();
    background-color: $charcoal;
}

.charcoal-section-no-pad {
    @include section-border();
    background-color: $charcoal;
}

@mixin splash-image($image-url) {
    z-index: -20;
    background: $image-url;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

@mixin splash-image-overlay() {
    z-index: -10;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
}

.password-change-block {
    @extend .light-grey-section;
    min-height: 600px;
}

.edit-user-block {
    @extend .light-grey-section;
    min-height: 600px;
}

.pagination {
    @extend .text-center;
    text-transform: uppercase;
    font-size: rem-calc(14);

    .prev-link {
        margin-right: 10px;
    }
    .next-link {
        margin-left: 10px;
    }
    .current {

    }
}

a.button, input.button, button, .odalc-button {
    @include transition-ease-all;
    background-color: rgba(121, 88, 159, 0);
    color: $medium-purple;
    border: 1px solid $medium-purple;
    &:hover, &:active {
        background-color: rgba(121, 88, 159, 0.1);
        color: $medium-purple;
        border: 1px solid $medium-purple;
    }
    &.success {
        background-color: rgba(121, 88, 159, 0);
        border: 1px solid $medium-purple;
        color: $medium-purple;
        &:hover, &:active{
            background-color: rgba(121, 88, 159, 0.1);
            color: $medium-purple;
            border: 1px solid $medium-purple;
        }
    }
}
