.faq-header {
    .faq-header-img {
        @include splash-image(url('../img/base/faq.jpg'));
        margin-top: -150px;
    }

    .faq-header-overlay {
        @include splash-image-overlay();
    }

    .faq-header-content {
        background-color: transparent;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        h1 {
            font-weight: 700;
            color: $white;
        }
        dl.sub-nav {
            margin-top: 25px;
            dd a {
                color: scale-color($white, $lightness: -15%);
                &:hover {
                    color: $white;
                }
            }
            dt, dd.active a {
                color: $white;
            }
        }
    }
}

.faq-content {
    @include section-padding();
    @include section-border();
    background-color: $light-grey;
    min-height: 500px;
    h2.header {
        font-weight: 700;
        font-size: 2.0rem;

    }
    .faq-tile {
        padding-top: 10px;
        padding-bottom: 10px;
        p.faq-answer {

        }
    }
}
