#footer {
    padding: 2em 0;
    background-color: $charcoal;
    border-top: 1px solid $dark-grey;
    height: $odalc-footer-height;

    p, small {
        color: $white;
        font-weight: 300;
        font-size: 0.9em;
    }

    a {
        color: $white;
        &:hover {
            color: scale-color($white, $lightness: -20%);
        }
    }

    #bp-wrapper {
        vertical-align: top;
        .powered_by {
            display: inline-block;
            vertical-align: middle;
            height: 45px;
            margin: 20px 5px 0;
            p:hover {
                color: scale-color($white, $lightness: -20%);
            }
        }

        #bp-logo {
            width: 30px;
            cursor: pointer;
        }
        .spinner {
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
               -moz-transition:    -moz-transform 0.5s ease-in-out;
                 -o-transition:      -o-transform 0.5s ease-in-out;
                    transition:         transform 0.5s ease-in-out;
        }

        .spinner:hover {
            -webkit-transform: rotate(360deg);
               -moz-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                 -o-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    #odalc-footer {
        padding-top: 20px;
    }
}


